.backstage {
  position: relative;
  padding: 140px 0 100px;

  &__wrapper {
    display: flex;
  }
}

.backstage__picture {
  width: 53%;
}

.backstage__content {
  width: 47%;
  padding-left: 82px;

  position: relative;
  z-index: 10;

  @include large {
    background-color: rgba($color: #fff, $alpha: 0.65);
  }
}

.backstage__title {
  margin-bottom: 20px;
}

.backstage__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}

.backstage__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  margin: 53px 0 33px;
}

.backstage__decor {
  position: absolute;
  top: 10px;
  right: 0;
}
