.copyright__link {
  display: inline-block;
  max-width: 230px;
  color: var(--white);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 1;
  transition: 0.3s;

  &:hover,
  &:focus {
    color: var(--orange);
  }

  & span {
    display: inline-block;
    margin-bottom: 10px;
  }
}
