.footer {
  background-color: #000;

  padding: 40px 0 50px;

  @include tablets {
    padding: 10px 0;
  }

  @include phones {
    padding: 20px 0;
  }
}

.footer__wrapper {
  display: grid;
  gap: 0 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "footer-logo . footer-form"
    "footer-donate . ."
    "footer-socials footer-nav footer-copyright";

  @include medium {
    grid-template-areas:
      "footer-logo . . footer-form footer-form footer-form"
      "footer-donate footer-donate . . . ."
      "footer-socials footer-nav footer-nav footer-nav footer-copyright footer-copyright";
  }

  @include tablets {
    grid-template-areas:
      "footer-logo . . footer-socials"
      "footer-donate footer-donate . footer-socials"
      "footer-nav footer-nav footer-copyright footer-copyright";
  }

  @include phones {
    grid-template-areas:
      "footer-logo"
      "footer-socials"
      "footer-donate"
      "footer-copyright"
      "footer-nav";
  }
}

.footer__logo {
  font-size: 0;
  grid-area: footer-logo;
  width: 84px;
  border: 1px solid var(--white);
  border-radius: 2px;
  transition: border-color 0.3s;

  margin-bottom: 67px;

  @include tablets {
    margin-bottom: 32px;
  }

  @include phones {
    margin-bottom: 30px;
  }

  @include phones {
    color: var(--white);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.2;
    border: none;
    width: 100%;
    text-align: center;
    background-image: url(./assets/images/footer/bamboo.png);
    background-repeat: no-repeat;
    background-position-x: 158px;
  }

  & a.logo {
    @include phones {
      display: none;
    }
  }

  &:hover {
    border-color: var(--orange);
  }
}

.footer__donate {
  grid-area: footer-donate;
  margin-bottom: 44px;

  @include phones {
    margin-bottom: 32px;
  }
}

.footer__socials {
  grid-area: footer-socials;
}
.footer__nav {
  grid-area: footer-nav;
  align-self: end;

  & .nav__list {
    justify-content: center;
  }

  @include medium {
    margin-left: 33px;
  }

  @include tablets {
    margin-left: 0;
    justify-self: start;
  }

  @include phones {
    justify-self: center;
  }
}

.footer__form {
  grid-area: footer-form;
  justify-self: end;

  @include tablets {
    display: none;
  }
}

.footer__copyright {
  grid-area: footer-copyright;
  justify-self: end;
  align-self: end;

  margin-right: -3px;

  @include tablets {
    margin: 27px 0 0 -12px;
  }

  @include phones {
    margin: 0;
    width: 214px;
    margin-bottom: 30px;
  }
}

// костыли для PP
.footer {
  @include tablets {
    .nav__item:not(:last-child) {
      margin-right: 37px;
    }
  }

  @include phones {
    .nav__item:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.footer-donate {
  .footer__nav {
    @include medium {
      margin-left: 55px;
    }

    @include tablets {
      margin-left: 0;
    }
  }
}
