.header {
  position: relative;
  background-color: #000;

  padding: 13px 0;

  @include tablets {
    padding: 2px 0;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
  }
}

.header__container {
  display: flex;
  align-items: center;

  @include tablets {
    justify-content: space-between;
  }
}

.header__logo {
  width: 84px;
  border: 1px solid var(--white);
  border-radius: 2px;
  transition: border-color 0.3s;

  &:hover {
    border-color: var(--orange);
  }

  @include tablets {
    width: 48px;
    border: none;
    margin: 0 0 0 -2px;
  }
}

.header__title {
  position: absolute;
  height: 1px;
  width: 1px;
  visibility: hidden;
}

.header__nav {
  flex-grow: 1;

  padding: 0 62px;

  @include tablets {
    display: none;
  }
}

.header__design {
  @include tablets {
    display: none;
  }
}

.header__link {
  color: var(--white);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: var(--orange);
  }
}

.header__burger {
  display: none;

  @include tablets {
    display: flex;
  }
}
