.nav__list {
  display: flex;
  list-style: none;
}

.nav__item {
  color: var(--white);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  transition: color 0.3s;

  margin-right: 58px;

  &.active {
    color: var(--orange);
  }

  & a:hover,
  & a:focus {
    color: var(--orange);
  }
}
