html {
  min-height: 100vh;
  box-sizing: border-box;
  font-size: 100%;

  @media screen and (max-width: 480px) {
    font-size: 80%;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Montserrat";
  background-color: $background;
  color: $text;
}

.wrapper {
  width: 90vw;
  max-width: 660px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  padding: 0 5vw;
  margin: 3rem auto 0;
}

.buttons {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  margin-bottom: 1.5rem;
}

.button {
  font-size: 1.2rem;
  width: 8rem;
  height: 4rem;
  background-color: $background;
  border: 2px solid $blue;
  outline: none;
  cursor: pointer;
  transition: all 0.15s ease-in;

  &:hover {
    background-color: $blue;
  }

  @media screen and (max-width: 480px) {
    width: 6rem;
  }

  &.active {
    color: $red;
    border: 2px solid $red;
  }

  &.active:hover {
    background-color: $blue;
  }
}

.counters {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  margin-bottom: 1rem;
}

.counter {
  width: 8rem;

  @media screen and (max-width: 480px) {
    width: 7rem;
  }
}

.puzzles {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border: 2px solid $blue;
  overflow: hidden;

  padding-bottom: 100%;
  margin-bottom: 1.5rem;
}

.puzzle {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: azure;
  border: 2px solid $background;
  cursor: pointer;
  transition: 0.15s ease-in-out;

  margin: 0;
  padding: 0;
  transition: all 0.15s ease-in;

  &:hover {
    background-color: $blue;
  }

  @media screen and (max-width: 480px) {
    font-size: 1.5rem;
  }
}

.size {
  margin-bottom: 1.5rem;
  &__select {
    margin-left: 0.5rem;
  }
}

.score {
  width: 80%;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;

  &__item {
    font-size: 1rem;
    text-align: left;
    border-bottom: 1px solid $blue;

    padding: 0.25rem 0;
    margin-bottom: 0.5rem;

    &:first-child {
      padding-top: 1rem;
    }
  }

  &__popup {
    width: 80%;
    line-height: 1.5;
    font-size: 1.5rem;
    background-color: rgba($color: $blue, $alpha: 0.75);
    position: absolute;
    top: 25%;
    transform: translate3d(0, -50%, 0);
    text-align: center;

    margin: 0 auto;
    padding: 3rem 1rem;
  }

  &__popup-btn {
    display: block;
    font-size: 1.2rem;
    width: 10rem;
    height: 4rem;
    background-color: $background;
    border: 2px solid $blue;
    outline: none;
    cursor: pointer;
    transition: all 0.15s ease-in;

    padding: 0;
    margin: 3rem auto 0;

    &:hover {
      border: 2px solid #000;
    }

    @media screen and (max-width: 480px) {
      width: 8rem;
    }
  }
}
