.app {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
  background-color: var(--green);
  border-radius: 2rem;
  overflow: hidden;

  padding: 2rem;

  @include tablets {
    gap: 1rem;

    padding: 1rem;
  }

  &__options {
    grid-column: span 4;
    display: flex;
    flex-direction: column;

    @include phones {
      grid-column: span 12;
    }
  }

  &__bird-info {
    grid-column: span 8;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 1.6rem;

    padding: 1rem;

    @include phones {
      grid-column: span 12;
    }
  }

  &__gameplay {
    grid-column: span 12;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 1.6rem;

    padding: 1rem;
  }
}
