.bird {
  position: relative;

  &__placeholder {
    display: none;
  }

  &.active &__placeholder {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #edf5ee;
    z-index: 10;
    border-radius: 2rem;
    overflow: hidden;
    text-align: center;

    padding: 3rem 2rem;
  }
}

.bird__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.bird__photo {
  grid-column: span 1;
}
.bird__pic {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  padding-top: 100%;
}

.bird__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.bird__description {
  grid-column: span 3;
  align-self: center;
}

.bird__classification {
  min-height: 75px;
  grid-column: span 1;
  justify-self: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bird__kind {
  font-weight: 700;

  margin-bottom: 0.5rem;
}

.bird__player {
  grid-column: span 3;
  align-self: center;
  border-radius: 2rem;
}

.bird__audio {
  width: 100%;
}
