.footer {
  height: 4rem;

  &__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--green-light);
    border-radius: 20px 20px 0 0;

    padding: 0 1.5rem;
  }
}

.footer__link {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.2s ease;

  &:hover,
  &:focus {
    opacity: 0.75;
  }

  &--github {
    width: 3rem;
    height: 3rem;
    background-image: url("./img/footer/github.svg");
  }

  &--rss {
    width: 5rem;
    height: 3rem;
    background-image: url("./img/footer/rss.svg");
  }
}

.footer__date {
  font-size: 1.2rem;
  font-weight: 400;
}
