.footer__container {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  background-color: rgba($color: #565656, $alpha: 0.6);
  border-radius: 1rem;

  padding: 0.75rem;
}

.footer__link:hover {
  color: #7afeff;
}
